@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Regular.woff2") format("woff2"),
        url("../fonts/OpenSans-Regular.woff") format("woff"),
        url("../fonts/OpenSans-Regular.ttf") format("ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Bold.woff2") format("woff2"),
        url("../fonts/OpenSans-Bold.woff") format("woff"),
        url("../fonts/OpenSans-Bold.ttf") format("ttf");
    font-weight: 700;
    font-style: normal;
}

* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;

    font-family: "OpenSans", sans-serif;
    font-weight: 400;
    font-style: normal;

    transition: all 0.3s ease;
}

ul,
ol,
li {
    list-style: none;
}

input,
button {
    border: none;
    outline: none;
}

button {
    height: 48px;

    color: #fff;
    font-weight: 700;
    text-transform: uppercase;

    background-color: #B59F5B;
    cursor: pointer;
}

button:hover {
    background-color: #323232;
}

a {
    text-decoration: none;

    font-size: 14px;
    font-weight: 700;
    color: #B59F5B;
    text-transform: uppercase;

    border-bottom: 1px solid transparent;
}

body {
    max-width: 1660px;
    margin: 0 auto;
}

header {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 450px;
    margin-bottom: 60px;
    padding-top: 28px;
    gap: 100px;

    color: #fff;

    background-image: url("../images/banner-bg.jpg");
    background-size: cover;
}

header::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: #000000;
    opacity: 0.6;
}

header>* {
    position: relative;
    z-index: 2;

    text-transform: uppercase;
}

.logo {
    width: 179px;
    height: 41px;

    cursor: pointer;
}

h1 {
    width: 687px;
    min-height: 129px;

    font-weight: 700;
    font-size: 45px;
    line-height: 75px;
    text-align: center;
}

.header-menu {
    width: 100%;

    padding: 0 244px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-menu ul {
    display: flex;
    gap: 33px;
}

.header-menu li {
    font-size: 13px;

    cursor: pointer;
    border-bottom: 1px solid transparent;
}

.header-menu li:hover {
    border-bottom: 1px solid #fff;
}

/* TRENDS */

main {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.main--trends-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    position: relative;

    margin-bottom: 41px;

    font-weight: 700;
    font-size: 20px;
    color: #0F0D0E;
    text-transform: uppercase;
}

h2::after {
    content: "";
    position: absolute;
    bottom: -13px;
    left: 0;
    right: 0;

    width: 66px;
    height: 3px;
    margin: 0 auto;

    background-color: #B59F5B;
    opacity: 0.4;
}

.main--trends-section .content-list {
    display: flex;
    gap: 4px;
    justify-content: center;
}

.content-list--item {
    position: relative;

    display: flex;
    align-items: flex-end;
    min-height: 320px;
    width: 25%;
    padding: 22px 22px 16px 19px;

    background-size: cover;
    cursor: pointer;
}

.content-list--item::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: #000000;
    opacity: 0.6;
}

.content-list--item>* {
    position: relative;
    z-index: 2;

    text-transform: uppercase;
}

.content-list--item:first-of-type {
    background-image: url("../images/trend1.jpg");
}

.content-list--item:nth-of-type(2) {
    background-image: url("../images/trend2.jpg");
}

.content-list--item:nth-of-type(3) {
    background-image: url("../images/trend3.jpg");
}

.content-list--item:last-of-type {
    background-image: url("../images/trend4.jpg");
}

.content-list--item--content {
    width: 100%;
    padding: 40px 0 19px 35px;

    border: 3px solid rgba(181, 159, 91, 0.6);
}

.tags {
    display: flex;
    gap: 17px;
    margin-bottom: 15px;
}

.content-list--item .tag a:hover {
    border-bottom: 1px solid #B59F5B;
}

.content-list--item--content h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
    text-transform: uppercase;
}

.content-list--item h3:hover {
    color: #B59F5B;
}

/* POSTS */

.container {
    display: flex;
    margin: 0 245px;
    gap: 109px;
}

.main-content--posts-list {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.main-content--post {
    display: flex;
    width: 775px;
    gap: 31px;

    cursor: pointer;
}

.main-content--post .tag a:hover {
    border-bottom: 1px solid #B59F5B;
}

.post-image {
    width: 381px;
    height: 294px;
}

.post-info--title {
    margin-bottom: 32px;

    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}

.main-content--post .post-info--title:hover {
    color: #B59F5B;
}

.post-info--date-author {
    display: flex;
    margin-bottom: 46px;
    gap: 15px;
}

.date {
    font-size: 12px;
    color: #888888;
}

.author {
    font-size: 12px;
    font-weight: bold;
    color: #000000;
}

.post-info--desc {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.post-info--desc p {
    font-size: 15px;
    line-height: 22px;
}

/* SIDEBAR */

.side-menu {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 63px;
}

.section-title {
    position: relative;

    margin-bottom: 55px;

    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.section-title::after {
    content: "";
    position: absolute;
    bottom: -13px;
    left: 0;
    right: 0;

    width: 66px;
    height: 3px;
    margin: 0 auto;

    background-color: #B59F5B;
    opacity: 0.4;
}

.new-posts--posts {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    gap: 22px;
}

.new-posts--post {
    display: flex;
    gap: 20px;

    cursor: pointer;
}

.new-posts--post--content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.new-posts--post img {
    width: 70px;
    height: 70px;
}

.new-posts--post--content .desc {
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    text-align: left;
    text-transform: uppercase;
}

.side-menu--searchbar {
    display: flex;
    height: 48px;
}

.side-menu--searchbar input {
    flex-grow: 1;
    height: 100%;
    padding-left: 17px;

    background-color: #F4F7F6;

    border: 1px solid transparent;
}

.side-menu--searchbar input:focus {
    border: 1px solid #B59F5B;
}

.side-menu--searchbar input::placeholder {
    font-size: 13px;
    color: #000000;
    opacity: 54%;
}

.side-menu--searchbar button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
}

.side-menu--searchbar button img {
    width: 18px;
    height: 18px;
}

.side-menu--mailing {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.side-menu--mailing input {
    width: 100%;
    height: 48px;
    padding-left: 17px;

    background-color: #F4F7F6;

    border: 1px solid transparent;
}

.side-menu--mailing input:focus {
    border: 1px solid #B59F5B;
}

.side-menu--mailing input::placeholder {
    font-size: 13px;
    color: #000000;
    opacity: 54%;
}

.side-menu--tags-list {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

.tags-list--tag {
    padding: 7px 13px;

    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;

    border: 3px solid #EEEEEE;
    cursor: pointer;
}

.tags-list--tag:hover {
    border: 3px solid #B59F5B;
}

.side-menu--themes-list {
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.themes-list--theme {
    padding-bottom: 13px;

    border-bottom: 2px solid #EEEEEE;
    cursor: pointer;
}

.themes-list--theme p {
    position: relative;

    display: inline-block;

    font-size: 14px;
    font-weight: 700;
}

.themes-list--theme p:hover {
    color: #B59F5B;
}

.themes-list--theme p .counter {
    position: absolute;
    top: -4px;
    right: -15px;

    width: 10px;

    font-size: 12px;
    font-weight: 700;
    color: #B59F5B;
}

/* SHOP */

.main--shop-section .container {
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.shop-list {
    display: flex;
    gap: 66px;
}

.shop-list--item {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.shop-list--item img {
    width: 300px;
    height: 204px;

    margin-bottom: -29px;
}

.shop-list--item--content {
    z-index: 2;

    width: 346px;
    min-height: 289px;

    border: 3px solid #B59F5B;

    padding: 54px 20px 26px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title {
    margin-bottom: 15px;

    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
}

.desc {
    margin-bottom: 25px;

    font-size: 15px;
    line-height: 22px;
}

.desc a {
    font-size: 15px;
    text-transform: none;
}

.shop-list--item a:hover {
    border-bottom: 1px solid #B59F5B;
}

.actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.actions button {
    width: 140px;
}

.price p {
    font-weight: 700;
}

.last-price {
    font-size: 14px;
    text-decoration: line-through;
}

.actual-price {
    font-size: 20px;
}

/* FOOTER */

footer {
    margin-top: 90px;
}

footer .container {
    flex-direction: column;
    height: 250px;
    gap: 0;
}

.footer-socials {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 82px;
    margin-bottom: 70px;
    gap: 30px;

    background-color: #F4F7F6;
}

.social {
    width: 20px;
    height: 20px;

    cursor: pointer;
}

.social a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.dribble {
    background-image: url("../images/001-dribbble.svg");
}

.pinterest {
    background-image: url("../images/001-pinterest.svg");
}

.tumblr {
    background-image: url("../images/003-tumblr.svg");
}

.copyright {
    margin: 0 auto;

    font-weight: 700;
    color: #999999;
    text-align: center;
}